<ol class="breadcrumb-ol">
    <li>
        <a class="first-root" target="_blank" href="">Home</a>
    </li>
    <li aria-hidden="true" class="separator">
        <svg width="16px" height="16px" class="jss74" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M14.61 12L9.29 6.69c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L16.71 11.3c.34.34.38.86.13 1.25-.04.06-.08.12-.13.17L10.7 18.71c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L14.61 12z" fill="#879dac"></path>
        </svg>
    </li>
    <li>
        <a class="root" href="#">Apartamento em Brasília</a>
    </li>
    <li>
        <svg width="16px" height="16px" class="jss74" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M14.61 12L9.29 6.69c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L16.71 11.3c.34.34.38.86.13 1.25-.04.06-.08.12-.13.17L10.7 18.71c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L14.61 12z" fill="#879dac"></path>
        </svg>
    </li>
    <li>
        <a class="root" href="#">Asa Sul</a>
    </li>
    <li>
        <svg width="16px" height="16px" class="jss74" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M14.61 12L9.29 6.69c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L16.71 11.3c.34.34.38.86.13 1.25-.04.06-.08.12-.13.17L10.7 18.71c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L14.61 12z" fill="#879dac"></path>
        </svg>
    </li>
    <li>
        <a class="root" href="#">SQSS 105</a>
    </li>
    <li>
        <svg width="16px" height="16px" class="jss74" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M14.61 12L9.29 6.69c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L16.71 11.3c.34.34.38.86.13 1.25-.04.06-.08.12-.13.17L10.7 18.71c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L14.61 12z" fill="#879dac"></path>
        </svg>
    </li>
    <li class="MuiBreadcrumbs-li jss264"><span>Imóvel IJUR2W</span></li>
</ol>

@code {

}
