<a href="/imovel" class="item" title="Acesse o Imóvel">
    <div class="item-img">
        <div class="slide-img">
            <img src="https://img.dfimoveis.com.br/fotos/982845/f6b176bfec73736c8aba4e03bf1ea600.jpg?format=webp" alt="Imagem do Imóvel">
        </div>
        <div class="listing-badges">
            <span class="secure"><i class='bx bxs-lock'></i> Imóvel Seguro</span>
        </div>
        <div class="valu-cont">
            <span class="price">R$ 280.000,00</span>

            <div class="button-efct">
                <div class="btn-round">
                    <i class="favorite-btn bx bx-heart login" title="Favoritar"></i>
                </div>
                <div class="btn-round">
                    <i class="bx bxs-share-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="item-display">
        <div class="item-list">
            <div class="item-description">
                SQNW 109 - Noroeste

                Cobertura reformada, nascente e em uma das melhores quadras do Noroeste!
                - Com 3 quartos amplos sendo 2 suítes, com a possibilidade de fazer uma 4ª suíte.
                - Móveis planejados da marca Vegas;
                - Projeto de iluminação;
                - Amplo home theater;
                - Varanda;
                - Churrasqueira e ofurô no apartamento;
                -  O apartamento é dividido da seguinte maneira 130m2 na parte baixo e 71m2 na parte da cobertura.

                O condomínio:
                - Área de lazer completa com:
                . Piscina
                . Ofuro
                . Sauna
                . Espaço Gourmet
                . Academia totalmente equipada
                . Salão de festas
                . Segurança 24 horas
                . Parquinho para as crianças
            </div>
            <div class="item-price">
                <h2>R$ 1.390.000</h2>
                <div class="item-condo">
                    Condomínio: <strong class="js-condo-price">R$ 1.621</strong>
                </div>
            </div>
        </div>

        <div class="item-icons">
            <div class="info-one room">
                <i class="bx bxs-bed"></i>
                <span>33</span>
            </div>
            <div class="info-one suit">
                <i class="bx bxs-bath"></i>
                <span>4</span>
            </div>
            <div class="info-one vaga">
                <i class='bx bxs-car'></i>
                <span>5</span>
            </div>
            <div class="info-one area">
                <i class="bx bxs-area"></i>
                <span>380 m²</span>
            </div>
        </div>
        <div class="item-data">
            <span>Casa Apartamento, Brasília Casa Apartamento, Brasília</span>
            <span class="adress"><i class="bx bxs-map"></i>CCSW 1, SUDOESTE, BRASILIA CCSW 1, SUDOESTE, BRASILIA</span>
        </div>
    </div>
</a>

<a href="/imovel" class="item" title="Acesse o Imóvel">
    <div class="item-img">
        <div class="slide-img">
            <img src="https://img.dfimoveis.com.br/fotos/1003405/ae2b05d3bf83a8b25fa595e5bffa0dfc.jpg?format=webp" alt="Imagem do Imóvel">
        </div>
        <div class="listing-badges">
            <span class="popular"><i class='bx bxs-hot'></i> Popular</span>
        </div>
        <div class="valu-cont">
            <span class="price">R$ 280.000,00</span>

            <div class="button-efct">
                <div class="btn-round">
                    <i class="favorite-btn bx bx-heart login" title="Favoritar"></i>
                </div>
                <div class="btn-round">
                    <i class="bx bxs-share-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="item-display">
        <div class="item-list">
            <div class="item-description">
                SQNW 109 - Noroeste

                Cobertura reformada, nascente e em uma das melhores quadras do Noroeste!
                - Com 3 quartos amplos sendo 2 suítes, com a possibilidade de fazer uma 4ª suíte.
                - Móveis planejados da marca Vegas;
                - Projeto de iluminação;
                - Amplo home theater;
                - Varanda;
                - Churrasqueira e ofurô no apartamento;
                -  O apartamento é dividido da seguinte maneira 130m2 na parte baixo e 71m2 na parte da cobertura.

                O condomínio:
                - Área de lazer completa com:
                . Piscina
                . Ofuro
                . Sauna
                . Espaço Gourmet
                . Academia totalmente equipada
                . Salão de festas
                . Segurança 24 horas
                . Parquinho para as crianças
            </div>
            <div class="item-price">
                <h2>R$ 1.390.000</h2>
                <div class="item-condo">
                    Condomínio: <strong class="js-condo-price">R$ 1.621</strong>
                </div>
            </div>
        </div>

        <div class="item-icons">
            <div class="info-one room">
                <i class="bx bxs-bed"></i>
                <span>33</span>
            </div>
            <div class="info-one suit">
                <i class="bx bxs-bath"></i>
                <span>4</span>
            </div>
            <div class="info-one vaga">
                <i class='bx bxs-car'></i>
                <span>5</span>
            </div>
            <div class="info-one area">
                <i class="bx bxs-area"></i>
                <span>380 m²</span>
            </div>
        </div>
        <div class="item-data">
            <span>Casa Apartamento, Brasília Casa Apartamento, Brasília</span>
            <span class="adress"><i class="bx bxs-map"></i>CCSW 1, SUDOESTE, BRASILIA CCSW 1, SUDOESTE, BRASILIA</span>
        </div>
    </div>
</a>

<a href="/imovel" class="item" title="Acesse o Imóvel">
    <div class="item-img">
        <div class="slide-img">
            <img src="https://prd-cdn-portal.azureedge.net/fotos/640206/6b38bff4576e139fde642d58d541fa7d.jpg" alt="Imagem do Imóvel">
        </div>
        <div class="listing-badges">
            <span class="highlight"><i class='bx bxs-star'></i> Super Destaque</span>
        </div>
        <div class="valu-cont">
            <span class="price">R$ 280.000,00</span>

            <div class="button-efct">
                <div class="btn-round">
                    <i class="favorite-btn bx bx-heart login" title="Favoritar"></i>
                </div>
                <div class="btn-round">
                    <i class="bx bxs-share-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="item-display">
        <div class="item-list">
            <div class="item-description">
                SQNW 109 - Noroeste

                Cobertura reformada, nascente e em uma das melhores quadras do Noroeste!
                - Com 3 quartos amplos sendo 2 suítes, com a possibilidade de fazer uma 4ª suíte.
                - Móveis planejados da marca Vegas;
                - Projeto de iluminação;
                - Amplo home theater;
                - Varanda;
                - Churrasqueira e ofurô no apartamento;
                -  O apartamento é dividido da seguinte maneira 130m2 na parte baixo e 71m2 na parte da cobertura.

                O condomínio:
                - Área de lazer completa com:
                . Piscina
                . Ofuro
                . Sauna
                . Espaço Gourmet
                . Academia totalmente equipada
                . Salão de festas
                . Segurança 24 horas
                . Parquinho para as crianças
            </div>
            <div class="item-price">
                <h2>R$ 1.390.000</h2>
                <div class="item-condo">
                    Condomínio: <strong class="js-condo-price">R$ 1.621</strong>
                </div>
            </div>
        </div>

        <div class="item-icons">
            <div class="info-one room">
                <i class="bx bxs-bed"></i>
                <span>33</span>
            </div>
            <div class="info-one suit">
                <i class="bx bxs-bath"></i>
                <span>4</span>
            </div>
            <div class="info-one vaga">
                <i class='bx bxs-car'></i>
                <span>5</span>
            </div>
            <div class="info-one area">
                <i class="bx bxs-area"></i>
                <span>380 m²</span>
            </div>
        </div>
        <div class="item-data">
            <span>Casa Apartamento, Brasília Casa Apartamento, Brasília</span>
            <span class="adress"><i class="bx bxs-map"></i>CCSW 1, SUDOESTE, BRASILIA CCSW 1, SUDOESTE, BRASILIA</span>
        </div>
    </div>
</a>

@code {

}
