<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid container">
        <a class="navbar-brand" href="">BlazorImovel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="busca">
                        <span class="oi oi-plus" aria-hidden="true"></span> Busca
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="imovel">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Imóvel
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
